body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

h1 {
    text-align: center;
}

input[type="text"], input[type="password"], input[type="username"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.weather {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
}

.auth {
    text-align: center;
    margin-top: 20px;
}

/* Stili per il menu di navigazione */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Stili per il piè di pagina */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
    padding-right:50px;
}